$mobile: 300px;
$tablet: 700px;
$desktop: 1025px;

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: #{$tablet}) and (max-width: #{$desktop}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop + 1px}) {
        @content;
    }
}