@use "../styles/media" as *;

.about{
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
    padding: 80px 16px;
    @include desktop{
        padding: 100px 150px;
    }
    &__first{
        position: relative;
        @include tablet{
            display: flex;
            flex-direction: row;
            gap: 18px;
            align-items: center;
        }
    }
    &__title{
        position: absolute;
        top: 0px;
        right: 40px;
        font-size: 14px;
        width: max-content;
        @include tablet{
            top: 0px;
            left: 300px;
            font-size: 19px;
            &::before{
                content: "";
                position: absolute;
                display: inline-block;
                width: 80px;
                height: 50px;
                margin-left: 8px;
                background: url("/about/arrowAbout.svg") no-repeat center;
                background-size: contain;
                left: -80px;
                top: 15px;
            }
        }
    }
    &__name{
        color: #7127BA;
    }
    &__containerImage{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        max-width: 400px;
        aspect-ratio: 200 / 206;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: url("/about/gradientAbout.svg") no-repeat center;
            z-index: 0;
            width: 100%;
            height: 100%;
        }
        img {
            position: relative;
            z-index: 1;
            object-fit: contain;
        }

        @include mobile{
            position: relative;
            height: 430px;
            margin: 0;
        }
    }
    &__gradient{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        @include tablet{
            left: 55%;
        }
    }
    &__iam{
        position: relative;
        z-index: 1;
    }
    &__text{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    &__subtitle{
        font-size: 17px;
        text-decoration: underline;
    }
    &__highlight{
        font-size: 36px;
        line-height: 126%;
        letter-spacing: 2%;
        @include tablet{
            font-size: 50px;
            max-width: 500px;
        }
        span{
            position: relative;
            color: #7127BA;
            z-index: 1;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 250%;
                height: 75%;
                transform: translate(-30%, -50%);
                border: 2px solid #ffffff;
                border-radius: 50%;
                z-index: -1;
            }
        }
    }
    &__quote{
        font-size: 14px;
        letter-spacing: 2%;
    }
    &__bio{
        display: flex;
        flex-direction: column;
        gap: 40px;
        &__title{
            font-size: 36px;
            line-height: 126%;
            @include tablet{
                font-size: 50px;
            }
        }
        &__text{
            font-size: 15px;
            @include tablet{
                font-size: 22px;
            }
        }
        &__cursor{
            display: inline-block;
            width: 2px;
            background-color: #7127BA;
            animation: blink 1s infinite;
        }
    }
}

@keyframes blink{
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}

@media(min-width: 470px) and (max-width: 1030px){
    .about{
        align-items: center;
        &__containerImage{
            margin: 0 auto;
        }
        &__bio{
            max-width: 600px;
            padding: 0 ;
        }
    }
}