@use "../styles/media" as *;
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    @include tablet{
        gap: 32px;
    }
    &__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 0 16px;
        @include tablet{
            gap: 0px;
        }
    }
    &__title{
        font-size: 32px;
        line-height: 40px;
        @include tablet{
            font-size: 24px;
        }
    }
    &__highlight{
        color: #A362FF;
    }
    &__subtitle{
        font-size: 14px;
        @include tablet{
            font-size: 17px;
        }
    }
    &__icons{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
        align-items: center;    
        gap: 17px;
    }
    &__row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: center;
        gap: 10px;
        @include tablet{
            gap: 12px;
        }
    }
    &__iconWrapper{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #251C31;
        border-radius: 50%;
        width: 44px;
        height: 44px;
    }
    &__container{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 220px;
        @include tablet{
            gap: 290px;
        }
    }
    &__lines{
        position: absolute;
        top: 70px;   
        z-index: -2;     
    }
    &__line{
        position: absolute;
        
        &.zero{
            top: 30px;
            right: 15px;
        }
        &.first{
            top: 30px;
            right: 10px;
        }
        &.second{
            right: 10px;
        }
        &.third{
            left: -10px;
        }
        &.fourth{
            left: 15px;
        }
        &.fifth{
            left: 20px;
        }
    }
    &__center{
        position: relative;
        background: linear-gradient(135deg, #30108060, #7840AD36);
        padding: 25px 30px;
        border-radius: 50%;
        z-index: 1;
        width: 102px;
        height: 102px;
        &::before{
            content: "";
            position: absolute;
            transform: translate(-50%, -50%);
            background: radial-gradient(
            circle,
            rgba(118, 60, 172, 1) 0%,     
            rgba(50, 15, 133, 0.7) 60%,   
            rgba(50, 15, 133, 0) 100%     
            );
            box-shadow: 0 0 50px rgba(118, 60, 172, 0.5);
            bottom: -140px;
            width: 300px;
            height: 180px;
            margin: 0 auto;
            left: 50%;
            right: 50%;
            border-radius: 50%;
            filter: blur(40px);
            z-index: -5;
            @include tablet{
                width: 500px;
                height: 330px;
                bottom: -300px;
            }
        }
        @include tablet{
            width: 180px;
            height: 180px;
            padding: 45px 50px;
        }
    }
    &__centerImg{
        width: 45px;
        height: 55px;
        @include tablet{
            width: 76px;
            height: 90px;
        }
    }
    &__bottomArc{
        position: absolute;
        margin: 0 auto;
        transform: translate(-50%, -50%);
        z-index: -2;
        right: 50%;
        left: 50%;
        &.zero{
            top: 75px;
            width: 167px;
            height: auto;
            @include tablet{
                top: 120px;
                width: 295px;
                height: auto;
            }
        }
        &.first{
            top: 40px;
            width: 173px;
            height: auto;
            @include tablet{
                top: 90px;
                width: 305px;
                height: auto
            }
        }
    }
    &__centerLines{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -2;
    }
    &__centerLine{
        position: absolute;
        height: 270px;
        margin: 0 auto;
        transform: translateX(-50%);
        left: 50%;
        right: 50%;
        overflow: hidden;
        bottom: -100px;
    }
    &__orbitIcon{
        position: absolute;
        left: -40%;
        bottom: 22%;
        width: 40px;
        height: 40px;
        offset-rotate: 0deg;
        &.ai{
            offset-path: path("M347.5 0.5C443.414 0.5 530.225 15.5481 593.039 39.8604C624.448 52.0171 649.832 66.4807 667.354 82.5156C684.877 98.5502 694.5 116.118 694.5 134.5C694.5 152.882 684.877 170.45 667.354 186.484C649.832 202.519 624.448 216.983 593.039 229.14C530.225 253.452 443.414 268.5 347.5 268.5C251.586 268.5 164.775 253.452 101.961 229.14C70.5522 216.983 45.1683 202.519 27.6455 186.484C10.1232 170.45 0.5 152.882 0.5 134.5C0.5 116.118 10.1232 98.5502 27.6455 82.5156C45.1683 66.4807 70.5522 52.0171 101.961 39.8604C164.775 15.5481 251.586 0.5 347.5 0.5Z");
            animation: orbitLoop  8s linear infinite;
            animation-fill-mode: forwards;
        }
        &.code{
            offset-path: path("M347.5 0.5C443.414 0.5 530.225 15.5481 593.039 39.8604C624.448 52.0171 649.832 66.4807 667.354 82.5156C684.877 98.5502 694.5 116.118 694.5 134.5C694.5 152.882 684.877 170.45 667.354 186.484C649.832 202.519 624.448 216.983 593.039 229.14C530.225 253.452 443.414 268.5 347.5 268.5C251.586 268.5 164.775 253.452 101.961 229.14C70.5522 216.983 45.1683 202.519 27.6455 186.484C10.1232 170.45 0.5 152.882 0.5 134.5C0.5 116.118 10.1232 98.5502 27.6455 82.5156C45.1683 66.4807 70.5522 52.0171 101.961 39.8604C164.775 15.5481 251.586 0.5 347.5 0.5Z");
            animation: orbitLoop 6s linear infinite;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
        }
        &.css{
            offset-path: path("M347.5 0.5C443.414 0.5 530.225 15.5481 593.039 39.8604C624.448 52.0171 649.832 66.4807 667.354 82.5156C684.877 98.5502 694.5 116.118 694.5 134.5C694.5 152.882 684.877 170.45 667.354 186.484C649.832 202.519 624.448 216.983 593.039 229.14C530.225 253.452 443.414 268.5 347.5 268.5C251.586 268.5 164.775 253.452 101.961 229.14C70.5522 216.983 45.1683 202.519 27.6455 186.484C10.1232 170.45 0.5 152.882 0.5 134.5C0.5 116.118 10.1232 98.5502 27.6455 82.5156C45.1683 66.4807 70.5522 52.0171 101.961 39.8604C164.775 15.5481 251.586 0.5 347.5 0.5Z");
            animation: orbitLoop 7s linear infinite;
            animation-fill-mode: forwards;
        }
        &.xd{
            offset-path: path("M382 0.5C487.445 0.5 582.887 15.5498 651.949 39.8662C686.482 52.0252 714.394 66.492 733.661 82.5312C752.931 98.5729 763.5 116.137 763.5 134.5C763.5 152.863 752.931 170.427 733.661 186.469C714.394 202.508 686.482 216.975 651.949 229.134C582.887 253.45 487.445 268.5 382 268.5C276.555 268.5 181.113 253.45 112.051 229.134C77.5177 216.975 49.6065 202.508 30.3389 186.469C11.0685 170.427 0.5 152.863 0.5 134.5C0.5 116.137 11.0685 98.5729 30.3389 82.5312C49.6065 66.492 77.5177 52.0252 112.051 39.8662C181.113 15.5498 276.555 0.5 382 0.5Z");
            animation: orbitLoop-reverse 8s linear infinite;
            animation-fill-mode: forwards;
            left: -48%;
            position: absolute;
        }
        &.google{
            offset-path: path("M382 0.5C487.445 0.5 582.887 15.5498 651.949 39.8662C686.482 52.0252 714.394 66.492 733.661 82.5312C752.931 98.5729 763.5 116.137 763.5 134.5C763.5 152.863 752.931 170.427 733.661 186.469C714.394 202.508 686.482 216.975 651.949 229.134C582.887 253.45 487.445 268.5 382 268.5C276.555 268.5 181.113 253.45 112.051 229.134C77.5177 216.975 49.6065 202.508 30.3389 186.469C11.0685 170.427 0.5 152.863 0.5 134.5C0.5 116.137 11.0685 98.5729 30.3389 82.5312C49.6065 66.492 77.5177 52.0252 112.051 39.8662C181.113 15.5498 276.555 0.5 382 0.5Z");
            animation: orbitLoop-reverse 6s linear infinite;
            animation-fill-mode: forwards;
            left: -48%;
            position: absolute;
            animation-timing-function: ease-in;
        }
        &.in{
            offset-path: path("M382 0.5C487.445 0.5 582.887 15.5498 651.949 39.8662C686.482 52.0252 714.394 66.492 733.661 82.5312C752.931 98.5729 763.5 116.137 763.5 134.5C763.5 152.863 752.931 170.427 733.661 186.469C714.394 202.508 686.482 216.975 651.949 229.134C582.887 253.45 487.445 268.5 382 268.5C276.555 268.5 181.113 253.45 112.051 229.134C77.5177 216.975 49.6065 202.508 30.3389 186.469C11.0685 170.427 0.5 152.863 0.5 134.5C0.5 116.137 11.0685 98.5729 30.3389 82.5312C49.6065 66.492 77.5177 52.0252 112.051 39.8662C181.113 15.5498 276.555 0.5 382 0.5Z");
            animation: orbitLoop-reverse 7s linear infinite;
            animation-fill-mode: forwards;
            left: -48%;
            position: absolute;
        }
        &.react{
            offset-path: path("M382 0.5C487.445 0.5 582.887 15.5498 651.949 39.8662C686.482 52.0252 714.394 66.492 733.661 82.5312C752.931 98.5729 763.5 116.137 763.5 134.5C763.5 152.863 752.931 170.427 733.661 186.469C714.394 202.508 686.482 216.975 651.949 229.134C582.887 253.45 487.445 268.5 382 268.5C276.555 268.5 181.113 253.45 112.051 229.134C77.5177 216.975 49.6065 202.508 30.3389 186.469C11.0685 170.427 0.5 152.863 0.5 134.5C0.5 116.137 11.0685 98.5729 30.3389 82.5312C49.6065 66.492 77.5177 52.0252 112.051 39.8662C181.113 15.5498 276.555 0.5 382 0.5Z");
            animation: orbitLoop-reverse 9s linear infinite;
            animation-fill-mode: forwards;
            left: -48%;
            position: absolute;
        }
        &.figma{
            offset-path: path("M440.5 0.5C562.105 0.5 672.179 15.5504 751.835 39.8721C791.666 52.0338 823.863 66.5054 846.091 82.5518C868.331 98.6065 880.5 116.168 880.5 134.5C880.5 152.832 868.331 170.394 846.091 186.448C823.863 202.495 791.666 216.966 751.835 229.128C672.179 253.45 562.105 268.5 440.5 268.5C318.895 268.5 208.821 253.45 129.165 229.128C89.3343 216.966 57.1374 202.495 34.9092 186.448C12.6694 170.394 0.5 152.832 0.5 134.5C0.5 116.168 12.6694 98.6065 34.9092 82.5518C57.1374 66.5054 89.3343 52.0338 129.165 39.8721C208.821 15.5504 318.895 0.5 440.5 0.5Z");
            animation: orbitLoop 7s linear infinite;
            animation-fill-mode: forwards;
            left: -67%;
            position: absolute;
            animation-timing-function: ease-in;
        }
        &.js{
            offset-path: path("M440.5 0.5C562.105 0.5 672.179 15.5504 751.835 39.8721C791.666 52.0338 823.863 66.5054 846.091 82.5518C868.331 98.6065 880.5 116.168 880.5 134.5C880.5 152.832 868.331 170.394 846.091 186.448C823.863 202.495 791.666 216.966 751.835 229.128C672.179 253.45 562.105 268.5 440.5 268.5C318.895 268.5 208.821 253.45 129.165 229.128C89.3343 216.966 57.1374 202.495 34.9092 186.448C12.6694 170.394 0.5 152.832 0.5 134.5C0.5 116.168 12.6694 98.6065 34.9092 82.5518C57.1374 66.5054 89.3343 52.0338 129.165 39.8721C208.821 15.5504 318.895 0.5 440.5 0.5Z");
            animation: orbitLoop 8s linear infinite;
            animation-fill-mode: forwards;
            left: -67%;
            position: absolute;
        }
        &.node{
            offset-path: path("M440.5 0.5C562.105 0.5 672.179 15.5504 751.835 39.8721C791.666 52.0338 823.863 66.5054 846.091 82.5518C868.331 98.6065 880.5 116.168 880.5 134.5C880.5 152.832 868.331 170.394 846.091 186.448C823.863 202.495 791.666 216.966 751.835 229.128C672.179 253.45 562.105 268.5 440.5 268.5C318.895 268.5 208.821 253.45 129.165 229.128C89.3343 216.966 57.1374 202.495 34.9092 186.448C12.6694 170.394 0.5 152.832 0.5 134.5C0.5 116.168 12.6694 98.6065 34.9092 82.5518C57.1374 66.5054 89.3343 52.0338 129.165 39.8721C208.821 15.5504 318.895 0.5 440.5 0.5Z");
            animation: orbitLoop 9s linear infinite;
            animation-fill-mode: forwards;
            left: -67%;
            position: absolute;
        }
    }
    &__iconOrbit{
        display: block;
        animation: rotate 8s linear infinite;
    }
}

@keyframes orbitLoop {
    from {
        offset-distance: 0%;
    }
    to {
        offset-distance: 100%;
    }
}
@keyframes orbitLoop-reverse {
    from {
        offset-distance: 100%;
    }
    to {
        offset-distance: 0%;
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}